/* Estilização da tela inicial */
#start-screen {
    text-align: center;
    padding: 20px;
    width: 100%;
    max-width: 800pt;
    height: 400pt;
    background-image: url("imagens/00mapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 5px;
    margin-top: 10px;
}

#start-button {
    
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
}

#start-button:hover {
    background-color: #0056b3;
    font-size: 30pt;
}

/* Estilização geral */
body {
    font-family: Arial, sans-serif;
    font-size: 16pt;
    background-color: #f4f4f4;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
}

.quiz-container {
    
    width: 1000px;
    height: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    text-align: center;
    margin: 10px;
    font-family: 'Krona One', sans-serif;
    font-size: 28pt;
    color: #164902;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

}

/* Estilização das perguntas */
#question-container {
    width: 100%;
    max-width: 960px;
    height: 900x;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f9f9f9;
    font-size: 22pt;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

h2 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    color: #faf6f6;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;  
    
}

p {
    font-size: 
    30px;
    text-align: center;
  
    margin-bottom: 10px;
    color: #faf6f6;
    text-shadow: 
        -1px -1px 0 #000, 
        1px -1px 0 #000,  
        -1px 1px 0 #000,  
        1px 1px 0 #000;  

}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 28pt;
    color: #fafa6c;
    text-shadow: 
        -1px -1px 0 #000, /* Sombra superior esquerda */
        1px -1px 0 #000,  /* Sombra superior direita */
        -1px 1px 0 #000,  /* Sombra inferior esquerda */
        1px 1px 0 #000;  
}

li {
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

label {
    cursor: pointer;
}

button {
    display: block;
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

/* Estilização do resultado */
#result-container {
    text-align: center;
    margin-top: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800pt;
    height: 400pt;
    background-image: url("imagens/00mapa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estilização das opções de resposta */
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* Estilo para a opção selecionada */
input[type="radio"]:checked + label {
    font-weight: bold;
    color: #007BFF;
}

#correct-answer-feedback {
    color: #28a745;
    font-weight: bold;
}
#feedback.correct {
    color: #0dd63c; /* Verde */
    font-size: 35pt;
}

/* Estilo para resposta incorreta */
#feedback.incorrect {
    color: #f30921; /* Vermelho */
    font-size: 35pt;
}